<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>MP - Diseño web</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Favicons -->
    <link href="img/favicon2.ico" rel="icon" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Belanosima&display=swap" rel="stylesheet">
    

    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Libraries CSS Files -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="lib/animate/animate.min.css" rel="stylesheet" />
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet" />
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet" />

    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet" />

    <!-- =======================================================
    Theme Name: NewBiz
    Theme URL: https://bootstrapmade.com/newbiz-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
  </head>

  <body>
    <!--==========================
  Header
  ============================-->
    <header id="header" class="fixed-top">
      <div class="container">
        <div class="logo float-left">
          <a href="#intro" class="scrollto">
            <img src="img/logo.png" alt="" class="img-fluid" />
          </a>
        </div>

        <nav class="main-nav float-right d-none d-lg-block">
          <ul>
            <li class="active"><a href="#intro">Home</a></li>
            <li><a href="#about">Nosotros</a></li>
            <li><a href="#services">Servicios</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#team">Equipo</a></li>
            <li><a href="#blog">Blog</a></li>
            <li><a href="#contact">Contacto</a></li>
          </ul>
        </nav>
        <!-- .main-nav -->
      </div>
    </header>
    <!-- #header -->

    <!--==========================
    Sección - INTRO 
  ============================-->
    <section id="intro" class="clearfix">
      <div class="container">
       
        <div class="intro-info">
          <h2>
            Brindamos
            <br />
            <span>soluciones</span>
            <br />
            para tu negocio!
          </h2>
          <div>
            <a href="#about" class="btn-get-started scrollto">Empezar</a>
            <a href="#services" class="btn-services scrollto">Servicios</a>
          </div>
        </div>
      </div>
    </section>
    <!-- #intro -->

    <main id="main">
      <!--==========================
      Sección NOSOTROS
    ============================-->
      <section id="about">
        <div class="container">
          <header class="section-header">
            <h3>Nosotros</h3>
            <p>
              Ofrecemos soluciones de acuerdo a tus necesidades.
            </p>
          </header>

          <div class="row about-container">
            <div class="col-lg-6 content order-lg-1 order-2">
              <p>
                Somos un equipo de profesionales que ofrecemos soluciones de acuerdo a las necesidades del cliente.
              </p>

          

              <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
                <div class="icon"><i class="fa fa-photo"></i></div>
                <h4 class="title"><a href="">Diseñamos</a></h4>
                <p class="description">
                  Diseños profesionales.
                </p>
              </div>

              <div class="icon-box wow fadeInUp">
                <div class="icon"><i class="fa fa-shopping-bag"></i></div>
                <h4 class="title"><a href="">Desarrollamos</a></h4>
                <p class="description">
                  Desarrollo eficiente y óptimo.
                </p>
              </div>

              <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                <div class="icon"><i class="fa fa-bar-chart"></i></div>
                <h4 class="title"><a href="">Seguimiento</a></h4>
                <p class="description">
                  Acompañamos a nuestros clientes.
                </p>
              </div>
            </div>

            <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
              <img src="img/nosotros1.jpg" class="img-fluid" alt="" />
            </div>
          </div>

         
        </div>
      </section>
      <!-- #nosotros -->

      <!--==========================
      Sección SERVICIOS
    ============================-->
      <section id="services" class="section-bg">
        <div class="container">
          <header class="section-header">
            <h3>Servicios</h3>
            <p>
              Brindamos servicios de acuerdo a las necesidades de nuestros clientes.
            </p>
          </header>

          <div class="row">
            <div
              class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp"
              data-wow-duration="1.4s"
            >
              <div class="box">
                <div class="icon">
                  <i
                    class="ion-ios-analytics-outline"
                    style="color: #ff689b;"
                  ></i>
                </div>
                <h4 class="title"><a href="">Diseño web</a></h4>
                <p class="description">
                  Realizamos diseños personalizados.
                </p>
              </div>
            </div>
            <div
              class="col-md-6 col-lg-5 wow bounceInUp"
              data-wow-duration="1.4s"
            >
              <div class="box">
                <div class="icon">
                  <i
                    class="ion-ios-bookmarks-outline"
                    style="color: #e9bf06;"
                  ></i>
                </div>
                <h4 class="title"><a href="">Desarrollo web</a></h4>
                <p class="description">
                  Desarrollamos tu web para que sea funcional.
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp"
              data-wow-delay="0.1s"
              data-wow-duration="1.4s"
            >
              <div class="box">
                <div class="icon">
                  <i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i>
                </div>
                <h4 class="title"><a href="">Desarrollo de apps</a></h4>
                <p class="description">
                  Creamos apps con experiencia de usuario simple.
                </p>
              </div>
            </div>
            <div
              class="col-md-6 col-lg-5 wow bounceInUp"
              data-wow-delay="0.1s"
              data-wow-duration="1.4s"
            >
              <div class="box">
                <div class="icon">
                  <i
                    class="ion-ios-speedometer-outline"
                    style="color: #41cf2e;"
                  ></i>
                </div>
                <h4 class="title"><a href="">Mantenimiento web</a></h4>
                <p class="description">
                  Ofrecemos soporte técnico continuo.
                </p>
              </div>
            </div>

            
            
          </div>
        </div>
      </section>
      <!-- #servicios -->

      
      <!--==========================
      sección PORTFOLIO 
    ============================-->
      <section id="portfolio" class="clearfix">
        <div class="container">
          <header class="section-header">
            <h3 class="section-title">Portfolio</h3>
          </header>

          <div class="row">
            <div class="col-lg-12">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-app">App</li>
               
                <li data-filter=".filter-web">Web</li>
              </ul>
            </div>
          </div>

          <div class="row portfolio-container">
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img src="img/portfolio/app1.jpg" class="img-fluid" alt="" />
                <div class="portfolio-info">
                  <h4><a href="#">App 1</a></h4>
                  <p>App</p>
                  <div>
                    <a
                      href="img/portfolio/app1.jpg"
                      data-lightbox="portfolio"
                      data-title="App 1"
                      class="link-preview"
                      title="Preview"
                    >
                      <i class="ion ion-eye"></i>
                    </a>
                    <a href="#" class="link-details" title="More Details">
                      <i class="ion ion-android-open"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="col-lg-4 col-md-6 portfolio-item filter-web"
              data-wow-delay="0.1s"
            >
              <div class="portfolio-wrap">
                <img src="img/portfolio/web3.jpg" class="img-fluid" alt="" />
                <div class="portfolio-info">
                  <h4><a href="#">Web 3</a></h4>
                  <p>Web</p>
                  <div>
                    <a
                      href="img/portfolio/web3.jpg"
                      class="link-preview"
                      data-lightbox="portfolio"
                      data-title="Web 3"
                      title="Preview"
                    >
                      <i class="ion ion-eye"></i>
                    </a>
                    <a href="#" class="link-details" title="More Details">
                      <i class="ion ion-android-open"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="col-lg-4 col-md-6 portfolio-item filter-app"
              data-wow-delay="0.2s"
            >
              <div class="portfolio-wrap">
                <img src="img/portfolio/app2.jpg" class="img-fluid" alt="" />
                <div class="portfolio-info">
                  <h4><a href="#">App 2</a></h4>
                  <p>App</p>
                  <div>
                    <a
                      href="img/portfolio/app2.jpg"
                      class="link-preview"
                      data-lightbox="portfolio"
                      data-title="App 2"
                      title="Preview"
                    >
                      <i class="ion ion-eye"></i>
                    </a>
                    <a href="#" class="link-details" title="More Details">
                      <i class="ion ion-android-open"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            

            <div
              class="col-lg-4 col-md-6 portfolio-item filter-web"
              data-wow-delay="0.1s"
            >
              <div class="portfolio-wrap">
                <img src="img/portfolio/web2.jpg" class="img-fluid" alt="" />
                <div class="portfolio-info">
                  <h4><a href="#">Web 2</a></h4>
                  <p>Web</p>
                  <div>
                    <a
                      href="img/portfolio/web2.jpg"
                      class="link-preview"
                      data-lightbox="portfolio"
                      data-title="Web 2"
                      title="Preview"
                    >
                      <i class="ion ion-eye"></i>
                    </a>
                    <a href="#" class="link-details" title="More Details">
                      <i class="ion ion-android-open"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="col-lg-4 col-md-6 portfolio-item filter-app"
              data-wow-delay="0.2s"
            >
              <div class="portfolio-wrap">
                <img src="img/portfolio/app3.jpg" class="img-fluid" alt="" />
                <div class="portfolio-info">
                  <h4><a href="#">App 3</a></h4>
                  <p>App</p>
                  <div>
                    <a
                      href="img/portfolio/app3.jpg"
                      class="link-preview"
                      data-lightbox="portfolio"
                      data-title="App 3"
                      title="Preview"
                    >
                      <i class="ion ion-eye"></i>
                    </a>
                    <a href="#" class="link-details" title="More Details">
                      <i class="ion ion-android-open"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>

           
           

            <div
              class="col-lg-4 col-md-6 portfolio-item filter-web"
              data-wow-delay="0.2s"
            >
              <div class="portfolio-wrap">
                <img src="img/portfolio/web1.jpg" class="img-fluid" alt="" />
                <div class="portfolio-info">
                  <h4><a href="#">Web 1</a></h4>
                  <p>Web</p>
                  <div>
                    <a
                      href="img/portfolio/web1.jpg"
                      class="link-preview"
                      data-lightbox="portfolio"
                      data-title="Web 1"
                      title="Preview"
                    >
                      <i class="ion ion-eye"></i>
                    </a>
                    <a href="#" class="link-details" title="More Details">
                      <i class="ion ion-android-open"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- #portfolio -->

      

      <!--==========================
      sección EQUIPO
    ============================-->
      <section id="team">
        <div class="container">
          <div class="section-header">
            <h3>Equipo</h3>
            <p>
              Nuestro equipo está formado por excelentes profesionales.
            </p>
          </div>

          <div class="row">
            <div class="col-lg-3 col-md-6 wow fadeInUp">
              <div class="member">
                <img src="img/equipo1.jpg" class="img-fluid" alt="" />
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>Juan Pérez</h4>
                    <span>CEO</span>
                    <div class="social">
                      <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                      <a href="https://es-la.facebook.com/"
                      target="_blank"><i class="fa fa-facebook"></i></a>
                      <a href="https://ar.linkedin.com/"
                      target="_blank"><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
              <div class="member">
                <img src="img/equipo2.jpg" class="img-fluid" alt="" />
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>Sarah Jhonson</h4>
                    <span>CTO</span>
                    <div class="social">
                      <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                      <a href="https://es-la.facebook.com/"
                      target="_blank"><i class="fa fa-facebook"></i></a>
                      <a href="https://ar.linkedin.com/"
                      target="_blank"><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
              <div class="member">
                <img src="img/equipo3.jpg" class="img-fluid" alt="" />
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>Amanda Jepson</h4>
                    <span>PM</span>
                    <div class="social">
                      <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                      <a href="https://es-la.facebook.com/"
                      target="_blank"><i class="fa fa-facebook"></i></a>
                      <a href="https://ar.linkedin.com/"
                      target="_blank"><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
              <div class="member">
                <img src="img/equipo4.jpg" class="img-fluid" alt="" />
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>Pedro García</h4>
                    <span>Desarrollador</span>
                    <div class="social">
                      <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                      <a href="https://es-la.facebook.com/"
                      target="_blank"><i class="fa fa-facebook"></i></a>
                      <a href="https://ar.linkedin.com/"
                      target="_blank"><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- #equipo -->

      <!--==========================
      sección CLIENTES
    ============================-->
      <section id="clients" class="section-bg">
        <div class="container">
          <div class="section-header">
            <h3>Clientes</h3>
            <p>
              Confían en nosotros:
            </p>
          </div>

          <div class="row no-gutters clients-wrap clearfix wow fadeInUp">
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <img src="img/clients/client-1.png" class="img-fluid" alt="" />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <img src="img/clients/client-2.png" class="img-fluid" alt="" />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <img src="img/clients/client-3.png" class="img-fluid" alt="" />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <img src="img/clients/client-4.png" class="img-fluid" alt="" />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <img src="img/clients/client-5.png" class="img-fluid" alt="" />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <img src="img/clients/client-6.png" class="img-fluid" alt="" />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <img src="img/clients/client-7.png" class="img-fluid" alt="" />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <img src="img/clients/client-8.png" class="img-fluid" alt="" />
              </div>
            </div>
          </div>
        </div>
      </section>
<!-- #clientes -->

<!--==========================
      Sección BLOG
    ============================-->
    <section id="blog">
      <div class="container">
        <header class="section-header">
          <h3>Blog</h3>
          <p>
            Últimas novedades
          </p>
        </header>

        <!--novedad 1-->

        <div class="card mb-3" style="max-width: 900px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="img/blog/blog1.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Top de apps</h5>
                <p class="card-text">Te presentamos las 10 mejores apps para organizar tu día...</p>
                <p class="card-text"><small class="text-body-secondary">Última actualización hace 3 minutos</small></p>
              </div>
            </div>
          </div>
        </div>

        <!--novedad 2-->

        <div class="card mb-3" style="max-width: 900px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="img/blog/blog2.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8" >
              <div class="card-body">
                <h5 class="card-title">Nuevos cursos</h5>
                <p class="card-text">Apertura de inscripciones para los cursos de desarrollo web...</p>
                <p class="card-text"><small class="text-body-secondary">Última actualización hace 15 minutos</small></p>
              </div>
            </div>
          </div>
        </div>

        <!--novedad 3-->
<div class="card mb-3" style="max-width: 900px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="img/blog/blog3.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Novedades de la semana</h5>
                <p class="card-text">Resumen semanal de las novedades tecnológicas...</p>
                <p class="card-text"><small class="text-body-secondary">Última actualización hace 2 días</small></p>
              </div>
            </div>
          </div>
        </div>

       
      </div>
    </section>
    <!-- #BLOG -->


      
      <!--==========================
      sección CONTACTO
    ============================-->
      <section id="contact">
        <div class="container-fluid">
          <div class="section-header">
            <h3>Contacto</h3>
            <p>
              Complete el formulario y a la brevedad nos comunicaremos.
            </p>
          </div>

          <div class="row wow fadeInUp">
            <div class="col-lg-6">
              <div class="map mb-4 mb-lg-0">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.0168881864215!2d-58.38414532506641!3d-34.60373445749759!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4aa9f0a6da5edb%3A0x11bead4e234e558b!2sObelisco!5e0!3m2!1ses!2sar!4v1686418988563!5m2!1ses!2sar"
                  frameborder="0"
                  style="border: 0; width: 100%; height: 312px;"
                  allowfullscreen
                ></iframe>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="row">
                <div class="col-md-5 info">
                  <i class="ion-ios-location-outline"></i>
                  <p>Av. 9 de Julio s/n, C1043 CABA</p>
                </div>
                <div class="col-md-4 info">
                  <i class="ion-ios-email-outline"></i>
                  <p>contacto@mp-web.com</p>
                </div>
                <div class="col-md-3 info">
                  <i class="ion-ios-telephone-outline"></i>
                  <p>+54 9 11 4567894</p>
                </div>
              </div>

              <div class="form">
                <div id="sendmessage">
                  Tu mensaje fue enviado correctamente!
                </div>
                <div id="errormessage"></div>
                <form action="" method="post" role="form" class="contactForm">
                  <div class="form-row">
                    <div class="form-group col-lg-6">
                      <input
                        type="text"
                        name="name"
                        class="form-control"
                        id="name"
                        placeholder="Nombre"
                        data-rule="minlen:4"
                        data-msg="Please enter at least 4 chars"
                      />
                      <div class="validation"></div>
                    </div>
                    <div class="form-group col-lg-6">
                      <input
                        type="email"
                        class="form-control"
                        name="email"
                        id="email"
                        placeholder="Email"
                        data-rule="email"
                        data-msg="Please enter a valid email"
                      />
                      <div class="validation"></div>
                    </div>
                  </div>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      name="subject"
                      id="subject"
                      placeholder="Asunto"
                      data-rule="minlen:4"
                      data-msg="Please enter at least 8 chars of subject"
                    />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group">
                    <textarea
                      class="form-control"
                      name="message"
                      rows="5"
                      data-rule="required"
                      data-msg="Please write something for us"
                      placeholder="Escribe aquí..."
                    ></textarea>
                    <div class="validation"></div>
                  </div>
                  <div class="text-center">
                    <button type="submit" title="Send Message">
                      Enviar
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- #contacto -->
    </main>

    <!--==========================
    Footer
  ============================-->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
           

            <div class="col-lg-2 col-md-6 footer-links">
              <h4>Links</h4>
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#about">Nosotros</a></li>
                <li><a href="#services">Servicios</a></li>
                <li><a href="#">Condiciones de servicio</a></li>
                <li><a href="#">Privacidad</a></li>
              </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-contact">
              <h4>Contacto</h4>

              <p>
                Av. 9 de Julio s/n
                <br />
                C1043 - CABA
                <br />
                Argentina
                <br />
                <strong>Teléfono:</strong>
                +54 9 11 4567894
                <br />
                <strong>Email:</strong>
                contacto@mp-web.com
                <br />
              </p>

              <div class="social-links">
                <a href="https://twitter.com/" target="_blank" class="twitter">
                  <i class="fa fa-twitter"></i>
                </a>
                <a
                  href="https://es-la.facebook.com/"
                  target="_blank"
                  class="facebook"
                >
                  <i class="fa fa-facebook"></i>
                </a>
                <a
                  href="https://instagram.com/"
                  target="_blank"
                  class="instagram"
                >
                  <i class="fa fa-instagram"></i>
                </a>

                <a
                  href="https://ar.linkedin.com/"
                  target="_blank"
                  class="linkedin"
                >
                  <i class="fa fa-linkedin"></i>
                </a>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 footer-newsletter">
              <h4>Newsletter</h4>

              <form action="" method="post">
                <input type="email" name="email" />
                <input type="submit" value="Suscríbete" />
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="copyright">
          &copy; Copyright
          <strong>Mp - Diseño Web</strong>
          . Todos los Derechos Reservados
        </div>
        <div class="credits">
          <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=NewBiz
        -->
          Designed by
          <a href="https://bootstrapmade.com/">MP - Diseño Web 2023</a>
        </div>
      </div>
    </footer>
    <!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->

    <!-- JavaScript Libraries -->
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/jquery/jquery-migrate.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/mobile-nav/mobile-nav.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>
    <!-- Contact Form JavaScript File -->
    <script src="contactform/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="js/main.js"></script>
  </body>
</html>
